@using YcTeam.DTO.System
@using YcTeam.Models.Sys
@model YcTeam.MVCSite.Models.SysUserViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h6>用户注册</h6>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Confirm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Confirm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Confirm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RealName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RealName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RealName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group-select">
        @Html.LabelFor(model => model.SysDepartId, htmlAttributes: new { @class = "control-label col-md-2" })
        @if (ViewBag.SysDepartList != null)
        {
            <div class="col-md-10">
                @Html.DropDownList("SysDepartId", ViewBag.SysDepartList as List<SelectListItem>, new
                {
                    @class = "dropdown",
                    @style = "width:100%;height:32px;font-size:14px;"
                })
            </div>
        }
    </div>

    <div class="form-group-checkbox">
        @Html.LabelFor(model => model.SysRoleIds, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            <ul>
                @foreach (var sysRoleItem in ViewBag.SysRoleList)
                {
                    <li class="Ids">
                        <input type="checkbox" name="SysRoleIds" value="@sysRoleItem.Id"/>@sysRoleItem.RoleName
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="添加" class="btn btn-default" onclick="SetSysDepartId()" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("返回用户列表", "SysUserList","SysUser")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
